<!DOCTYPE html>
<html>
  <body>
    <h2>Student: <%= @student.name %></h2>
    <% @student.addresses.each do |address| %>
    <h3>Address <%= address.id %>: </h3>
      <ul>
        <li><%= address.description %></li>
        <li><%= address.street %></li>
        <li><%= address.city %></li>
        <li><%= address.state %></li>
        <li><%= address.zip %></li>
      </ul>
    <% end %>
    <% @student.courses.each do |course| %>
    <h3>Course <%= course.id %>: </h3>
      <ul>
        <li><%= course.name %></li>
      </ul>
    <% end %>
  </body>
</html>
